{% extends 'layouts/Main.html' %}


{% block title %}
        Назва тваринки
{% endblock %}



{% block content %}
<div class='area_article'>
    <div class="div_date">
        <div><b>Дата створення:</b> {{ animal.created_at }}</div>
        {% if animal is not null %}
        <div><b>Дата останнього оновлення:</b> {{ animal.updated_at }}</div>
        {% endif %}
    </div>

    <div class="div_category">
        <b>Категорія:</b> {{ animal.cname }}
    </div>

    <h3> {{ animal.name }} </h3>
    <div>
        <img src='{{ animal.img }}'/>
        <p>
            {{ animal.text }}
        </p>
    </div>
    <div class="div_count_animal">
        <b>Кількість:</b> {{ animal.count }}
    </div>
</div>
{% endblock %}